.health {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.health .hp {
  position: relative;
  margin: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.health .hp .gauge {
  position: relative;
  height: 16px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

.health .hp .gauge .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  text-indent: -10em;
  overflow: hidden;
  border-radius: 8px;
  min-width: 16px;
  -webkit-transition: width 0.25s ease;
}

.health .hp .gauge .temp {
  width: 75%;
  background: #00aeef;
}

.health .hp .gauge .current {
  width: 60%;
  background: #8dc63f;
  z-index: 1;
}

.health .bloodied .gauge .current {
  background: #ed1c24;
}

.health .hp .plus,
.health .hp .temp.one,
.health .hp .temp.five,
.health .hp .minus {
  position: absolute;
  bottom: 0;
  width: 32px;
  height: 32px;
  color: white;
  background: #ed1c24;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-decoration: none;
}

.health .hp .plus.one,
.health .hp .temp.one,
.health .hp .minus.five {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

.health .hp .plus.five,
.health .hp .temp.five,
.health .hp .minus.one {
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

.health .hp .plus { background: #8dc63f; }
.health .hp .temp.one, .health .hp .temp.five { background: #00aeef; }

.health .minus.five { left: 0; }
.health .minus.one  { left: 33px; }
.health .temp.one   { right: 105px; }
.health .temp.five  { right: 72px; }
.health .plus.one   { right: 33px; }
.health .plus.five  { right: 0; }

.health .values {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: right;
  font-weight: bold;
  font-size: 24px;
  color: #eee;
}

.health .hp .values:before {
  content: 'Hit points';
  position: absolute;
  left: 0;
  left: 0;
  top: 0;
  text-align: left;
}

.health .surges {
  position: relative;
  margin: 8px;
  padding: 48px 8px 8px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.health .surges .values {
  top: 8px;
  left: 8px;
  right: 8px;
}

.health .surges .values:before {
  content: 'Healing surges';
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
}

.health .surges a.use {
  float: right;
  width: 40px;
  height: 40px;
  background: #ed1c24;
  border-radius: 20px;
  position: relative;
  text-decoration: none;
  text-indent: -10em;
  overflow: hidden;
}

.health .surges a.use:before,
.health .surges a.use:after {
  content: " ";
  position: absolute;
  overflow: hidden;
  background: white;
  left: 16px;
  top: 6px;
  width: 8px;
  height: 28px;
}

.health .surges a.use:before {
  -webkit-transform: rotate(90deg);
}

.health .surges .dots .dot {
  float: left;
  margin: 0 8px 8px 0;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.25s ease;
}

.health .surges .dots .dot.available {
  background: #8dc63f;
  -webkit-box-shadow: none;
}

.health .rest {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 148px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  background: #8dc63f;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #eee;
}

.health .extended.rest {
  left: 164px;
}

.health .action-points {
  clear: both;
  position: relative;
  padding: 8px;
  height: 32px;
  line-height: 30px;
  vertical-align: middle;
}

.health .action-points:before {
  content: 'Action points';
  position: absolute;
  left: 8px;
  top: 8px;
  text-align: left;
  line-height: 30px;
  vertical-align: middle;
}

.health .action-points a {
  float: right;
  position: relative;
  width: 32px;
  height: 32px;
  color: white;
  background: #00aeef;
  text-decoration: none;
  text-indent: -10em;
  text-align: left;
  overflow: hidden;
}

.health .action-points a.minus {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
}

.health .action-points a.plus {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.health .action-points a:before,
.health .action-points a.plus:after {
  content: " ";
  position: absolute;
  overflow: hidden;
  background: white;
  left: 5px;
  top: 13px;
  width: 22px;
  height: 6px;
}

.health .action-points a.plus:after {
  -webkit-transform: rotate(90deg);
}

.health .action-points .current {
  float: right;
  background: #f2f2f2;
  color: #222;
  width: 32px;
  height: 32px;
  padding: 0 8px;
  text-align: right;
}
