.tab-page {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 48px;
}

.tabs>ul {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  margin: 0;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.2);
}

.tabs>ul li {
  display: block;
  float: left;
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  border-radius: 4px;
}

.tabs>ul li.active {
  background: rgba(255, 255, 255, 0.1);
}

.tabs>ul li.active:after {
  content: ' ';
  position: absolute;
  top: -4px;
  left: 16px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 4px solid rgba(255, 255, 255, 0.1);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.tabs>ul li a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-indent: -10em;
  text-decoration: none;
  background: url(tabs.png) no-repeat 0 0;
  opacity: 0.5;
}

.tabs>ul li.health-tab a { background-position: -80px 0; }
.tabs>ul li.powers-tab a { background-position: -40px 0; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .tabs>ul li a {
    background-image: url(tabs@2x.png);
    -webkit-background-size: 160px 40px;
  }
}