<!DOCTYPE html>
<html>
<head>
  <title>Powers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" href="/assets/icon.png"/>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ontouchmove="event.preventDefault();">
  <div id="container">
    
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
