<!DOCTYPE html>
<html>
<head>
  <title>Powers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
